<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="0">
  <Identity Name="YourXBLAppName" Publisher="CN=00000000-0000-0000-0000-000000000000" Version="1.0.0.0" />
  <StoreId>000000000000</StoreId>
  <TitleId>00000000</TitleId>
  <MSAAppId>0000000000000000</MSAAppId>
  <ExecutableList>
    <Executable Name="YourApp.exe" Id="Game" TargetDeviceFamily="PC" />
  </ExecutableList>
  <ShellVisuals DefaultDisplayName="YourApp" PublisherDisplayName="YourPublisherName" Square150x150Logo="Square150x150Logo.png" Square44x44Logo="Square44x44Logo.png" Description="Your app description" ForegroundText="light" BackgroundColor="#000040" SplashScreenImage="SplashScreenImage.png" StoreLogo="StoreLogo.png" />
  <ExtendedAttributeList>
    <ExtendedAttribute Name="SandboxIds" Value="000000" />
    <ExtendedAttribute Name="Scid" Value="00000000-0000-0000-0000-000000000000" />
  </ExtendedAttributeList>
  <DesktopRegistration>
    <DependencyList>
      <KnownDependency Name="VC14" />
    </DependencyList>
    <MultiplayerProtocol>false</MultiplayerProtocol>
  </DesktopRegistration>
</Game>